body{ 
    padding: 0;
    margin: 0;
    font-family: Questa Sans;
}

.container{
    max-width: 850px;
    min-width: 327px;
    height: auto;
    margin: auto;
    padding: 160px 24px;
}

.img{
    width: 120%;
    height: auto;
    aspect-ratio: 3/2;
    background-color: gray;
    margin: -10%;
}

.kicker{
    font-size: 14px;
    margin: 0 0 16px 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 900; 
    font-style: normal;
    line-height: 110%;
}

h1{
    font-size: 48px;
    margin: 0 0 16px 0;
}

.ingress{
    font-size: 26px;
    font-weight: 300; 
    font-style: italic;
    line-height: 150%;
    margin: 0 0 80px 0;
}

h2{
    font-size: 40px;
    margin: 0 0 24px 0;
}

h3{
    font-size: 32px;
    margin: 0 0 16px 0;
}

h4{
    font-size: 24px;
    margin: 0 0 8px 0;
}

h5{
    font-size: 20px;
    margin: 0 0 0 0;
}

p{
    font-size: 20px;
    font-weight: 300; 
    font-style: normal;
    line-height: 150%;
    margin: 0 0 80px 0;
}

.meta{
    font-size: 14px;
    font-style: italic;
    margin: 0 0 16px 0;
}