body{ 
    padding: 0;
    margin: 0;
}

.container{
    width: 50vw;
    height: auto;
    margin: auto;
    padding: 160px 0;
}

.img{
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    background-color: gray;
}

h1{
s
}

h2{

}

h3{

}

h4{

}

h5{

}

p{

}

.ingress{

}

.meta{

}